*{
    margin: 0;
    padding: 0;

}

html{
    font-size: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
}
/*hero section*/
#hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Images/backgroundgold.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(50%);

}
#hero-content{
    position: absolute;

}
#hero-content h1{
    color: #173B2F
    font-size: 2.8rem;
    text-shadow: 2px 2px 2px #000;
}
#hero-content h2{
    color: #ffffff;
    margin-top: 1rem; 
    margin-bottom: 4rem;
    font-size: 2rem;
    font-family: cursive;
    text-shadow: 2px 2px 2px #000;
}
#hero-content p{
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

#hero-content a{
    color: #ffffff;
    padding: 3px 20px 3px 20px;
    border: 1px solid #C89B3C;
    background: rgb(0, 0, 0, 0.6);
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 25px;
}

#hero-content a:hover{
    background-color: #1c1a17
}

/*header-section begins*/
#header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    line-height: 70px;
}
#navbar{
    display: flex;
    justify-content: space-around;
    background: 0, 0, 0, 0.5;
    background-color: #FFF8EC;
}
#navbar img{
    width: 100px;
    height: 100px;
    position: fixed;
    left: 0;
    margin-right: 30px;
}
#navbar h1{
    color: #173B2F
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px #000;
    display: flex;
    font-family: cursive;
    justify-content: space-around;
    margin-left: 30px;
}
#navbar ul{
    display: flex;

}
#navbar ul li{
    list-style: none;
    padding: 3px 15px 3px 15px;
}
#navbar ul li:hover,#order a:hover{
    background: #df962a;
    cursor: pointer;
    opacity: 0.8;
}
#navbar ul li a{
    text-decoration: none;
    color: #173B2F;
    font-size: 1.1rem;
}
#order a{
    text-decoration: none;
    color: #173B2F;
    font-size: 1.1rem;
    padding: 5px 15px 5px 15px;
    border: 2px solid #173B2F;
    border-radius: 25px;
    margin-top: 5rem;
    background-color: #df962a;
    transition: 0.15s ease;
}
#order a:hover{
     background-color: rgb(230, 143, 38);
     cursor: pointer;
     opacity: 0.7;
}
#mobile-menu{
    display: none;
    height: 40px;
    line-height: 40px;
    background-color: magenta;
}
#mobile-menu ul{
    display: flex;
    justify-content: center;
}
#mobile-menu ul li{
    list-style: none;
    padding: 0 5px 0 5px;
}
#mobile-menu ul li a{
    text-decoration: none;
    color: #ffffff;
}

/*about section*/
#about-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 100px 0 100px;

}
.about-col{
    flex: 1;

}
#about-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
}

#about-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
}
.about-col h2{
    text-align: center;
    font-family: cursive;

}
.about-col p{
    text-align: justify;
    font-family: cursive;
    font-weight: normal;
}





/*services section*/


#services{
    padding: 10px 0 5px 0;
    width: 85%;
    margin: auto;
}
#head{
    text-align: center;
}






/*menu section*/
#menu{
    padding: 25px 0 25px 0;

}
#section{
    padding: 25px 0 25px 0;
    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu-row{
    display: flex;
    padding: 0 100px 0 100px;

}
#menu-col{
    display: inline-block;
    box-shadow: 2px 2px 2px #bbb;
    border: 1px solid #bbb;
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    flex: 1;
}
#menu-col h2{
    background-color: red;
    color: ffffff;
    text-align: center;
    padding: 5px;
    font-family: cursive;
}

#image{
    width:150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid rgb(211, 143, 15);
}

#image img{
    width:100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
}

/*chef-section*/
#chef{
    padding: 25px 0 25px 0;

}
#chef-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.chef-col{
    text-align: center;
    padding: 10px;
    margin: 5px;

}
#img{
    width: 200px;
    height: 250px;
    margin: auto;
}
#img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
/*contact section*/
#contact{
    padding: 25px 0 25px 0;
}
#contact-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 100px;
    flex-wrap: wrap;
}
.contact-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.contact-col p,h3{
    font-weight: bold;
    color: ;#292929;
    margin: 10px;
}

.contact-col p a{
   text-decoration: none;
    color: ;#292929;
    
}
#social a{
    color: magenta;
    margin: 3px;
}
.contact-col form{
    display: flex;
    flex-direction: column;
    background-color: magenta;
    width: 70%;
    padding: 20px 40px 20px 20px;
}
.contact-col form h2{
    text-align: center;
    font-family: cursive;
}
.contact-col form input{
    width: 100%;
    height: 17pt;
    padding: 5px;
    margin: 5px;

}
.contact-col form textarea{
    width: 100%;
    padding: 5px;

}
.contact-col form button{
   margin: auto;
   padding: 10px;
   color: #ffffff;
   background-color: rgb(0,0, 0);
   border: 1px solid rgb(0, 0, 0);
   cursor: pointer;
}

#footer{
    background-color: #292929;
    padding: 20px;
    position: relative;

}
#footer h5{
    text-align: center;
    color: rgb(255, 165, 0);

}
#footer h5 a{
    color: #ffffff;
    text-decoration: none;
}
#top{
    position: absolute;
    bottom: 12px;
    right: 12px;

}
#top a{
    color: #ffffff;
    font-size: 1.2rem;

}










@media screen and(max-width : 768px) {

    #header{
        position: absolute;
    }
    #mobile-menu{
        display: block;
    }
    #navbar ul{
        display: none;
    }
    html{
        font-size: 95%;
    }

    #menu-row, #about-row, #contact-row{
        flex-wrap: wrap;
        padding: 0 10px 0 10px;
    }
    
}
@media screen and(max-width : 360px) {
    html{
        font-size: 70%;
    }

    #about-img{
        width: 220px;
        height: 220px;
    }
}

